/* Grid row and columns */
.sec-row-wrap {
    overflow: hidden;
  }
  
  .sec-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .sec-row:before,
  .sec-row:after,
  .clearboth:before,
  .clearboth:after {
    content: "";
    display: table;
  }
  
  .sec-row:after,
  .clearboth:after {
    clear: both;
  }
  
  .flexrow {
    display: flex;
    flex-wrap: wrap;
  }
  .flexrow:before,
  .flexrow:after {
    display: none;
  }
  
  *[class*="sec-col"],
  *[class*="sec-xs-col"],
  *[class*="sec-md-col"],
  *[class*="sec-lg-col"],
  *[class*="sec-xlg-col"],
  .sec-col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
  }
  
  .sec-xs-col-20 {
    width: 20%;
  }
  
  .sec-xs-col-25 {
    width: 25%;
  }
  
  .sec-xs-col-30 {
    width: 30%;
  }
  
  .sec-xs-col-33 {
    width: 33.33%;
  }
  
  .sec-xs-col-33:nth-child(3n + 1) {
    clear: left;
  }
  
  .sec-xs-col-33:nth-child(3n + 3) {
    clear: right;
  }
  
  .sec-xs-col-35 {
    width: 35%;
  }
  
  .sec-xs-col-40 {
    width: 40%;
  }
  
  .sec-xs-col-45 {
    width: 45%;
  }
  
  .sec-xs-col-50 {
    width: 50%;
  }
  
  .sec-xs-col-55 {
    width: 55%;
  }
  
  .sec-xs-col-60 {
    width: 60%;
  }
  
  .sec-xs-col-65 {
    width: 65%;
  }
  
  .sec-xs-col-70 {
    width: 70%;
  }
  
  .sec-xs-col-75 {
    width: 75%;
  }
  
  .sec-xs-col-80 {
    width: 80%;
  }
  
  .sec-xs-col-100 {
    width: 100%;
  }
  
  .hide {
    display: none !important;
  }
  
  .show {
    display: block !important;
  }
  
  /**/
  @media all and (min-width: 481px) {
    .show-480 {
      display: none !important;
    }
  }
  @media all and (min-width: 661px) {
    .show-660 {
      display: none !important;
    }
  }
  @media all and (min-width: 901px) {
    .sec-md-col-6 {
      width: 6%;
    }
  
    .sec-md-col-7 {
      width: 7%;
    }
  
    .sec-md-col-8 {
      width: 8%;
    }
  
    .sec-md-col-15 {
      width: 15%;
    }
  
    .sec-md-col-20 {
      width: 20%;
    }
  
    .sec-md-col-22 {
      width: 22%;
    }
  
    .sec-md-col-25 {
      width: 25%;
    }
  
    .sec-md-col-27 {
      width: 27%;
    }
  
    .sec-md-col-28 {
      width: 28%;
    }
  
    .sec-md-col-29 {
      width: 29%;
    }
  
    .sec-md-col-30 {
      width: 30%;
    }
  
    .sec-md-col-32 {
      width: 32%;
    }
  
    .sec-md-col-33 {
      width: 33.33%;
    }
  
    .sec-md-col-33:nth-child(3n + 1) {
      clear: left;
    }
  
    .sec-md-col-33:nth-child(3n + 3) {
      clear: right;
    }
  
    .sec-md-col-34 {
      width: 34%;
    }
  
    .sec-md-col-35 {
      width: 35%;
    }
  
    .sec-md-col-36 {
      width: 36%;
    }
  
    .sec-md-col-38 {
      width: 38%;
    }
  
    .sec-md-col-39 {
      width: 39%;
    }
  
    .sec-md-col-40 {
      width: 40%;
    }
  
    .sec-md-col-41 {
      width: 41%;
    }
  
    .sec-md-col-42 {
      width: 42%;
    }
  
    .sec-md-col-43 {
      width: 43%;
    }
  
    .sec-md-col-44 {
      width: 44%;
    }
  
    .sec-md-col-45 {
      width: 45%;
    }
  
    .sec-md-col-46 {
      width: 46%;
    }
  
    .sec-md-col-47 {
      width: 47%;
    }
  
    .sec-md-col-48 {
      width: 48%;
    }
  
    .sec-md-col-49 {
      width: 49%;
    }
  
    .sec-md-col-50 {
      width: 50%;
    }
  
    .sec-md-col-51 {
      width: 51%;
    }
  
    .sec-md-col-52 {
      width: 52%;
    }
  
    .sec-md-col-53 {
      width: 53%;
    }
  
    .sec-md-col-54 {
      width: 54%;
    }
  
    .sec-md-col-55 {
      width: 55%;
    }
  
    .sec-md-col-56 {
      width: 56%;
    }
  
    .sec-md-col-57 {
      width: 57%;
    }
  
    .sec-md-col-58 {
      width: 58%;
    }
  
    .sec-md-col-59 {
      width: 59%;
    }
  
    .sec-md-col-60 {
      width: 60%;
    }
  
    .sec-md-col-61 {
      width: 61%;
    }
  
    .sec-md-col-62 {
      width: 62%;
    }
  
    .sec-md-col-64 {
      width: 64%;
    }
  
    .sec-md-col-65 {
      width: 65%;
    }
  
    .sec-md-col-67 {
      width: 66.67%;
    }
  
    .sec-md-col-68 {
      width: 68%;
    }
  
    .sec-md-col-70 {
      width: 70%;
    }
  
    .sec-md-col-71 {
      width: 71%;
    }
  
    .sec-md-col-72 {
      width: 72%;
    }
  
    .sec-md-col-73 {
      width: 73%;
    }
  
    .sec-md-col-75 {
      width: 75%;
    }
  
    .sec-md-col-78 {
      width: 78%;
    }
  
    .sec-md-col-80 {
      width: 80%;
    }
  
    .sec-md-col-85 {
      width: 85%;
    }
  
    .sec-md-col-100 {
      width: 100%;
    }
  
    /*MARGIN*/
    .ml-md-10 {
      margin-left: 10%;
    }
  
    .ml-md-20 {
      margin-left: 20%;
    }
  
    .ml-md-30 {
      margin-left: 30%;
    }
  
    .ml-md-40 {
      margin-left: 40%;
    }
  
    .ml-md-50 {
      margin-left: 50%;
    }
  
    /**/
    .show-900 {
      display: none !important;
    }
  }
  @media all and (min-width: 992px) {
    .sec-lg-col-15 {
      width: 15%;
    }
  
    .sec-lg-col-18 {
      width: 18%;
    }
  
    .sec-lg-col-20 {
      width: 20%;
    }
  
    .sec-lg-col-22 {
      width: 22%;
    }
  
    .sec-lg-col-24 {
      width: 24%;
    }
  
    .sec-lg-col-25 {
      width: 25%;
    }
  
    .sec-lg-col-26 {
      width: 26%;
    }
  
    .sec-lg-col-30 {
      width: 30%;
    }
  
    .sec-lg-col-31 {
      width: 31%;
    }
  
    .sec-lg-col-33 {
      width: 33.33%;
    }
  
    .sec-lg-col-33:nth-child(3n + 1) {
      clear: left;
    }
  
    .sec-lg-col-33:nth-child(3n + 3) {
      clear: right;
    }
  
    .sec-lg-col-35 {
      width: 35%;
    }
  
    .sec-lg-col-39 {
      width: 39%;
    }
  
    .sec-lg-col-40 {
      width: 40%;
    }
  
    .sec-lg-col-41 {
      width: 41%;
    }
  
    .sec-lg-col-42 {
      width: 42%;
    }
  
    .sec-lg-col-43 {
      width: 43%;
    }
  
    .sec-lg-col-45 {
      width: 45%;
    }
  
    .sec-lg-col-46 {
      width: 46%;
    }
  
    .sec-lg-col-47 {
      width: 47%;
    }
  
    .sec-lg-col-48 {
      width: 48%;
    }
  
    .sec-lg-col-49 {
      width: 49%;
    }
  
    .sec-lg-col-50 {
      width: 50%;
    }
  
    .sec-lg-col-51 {
      width: 51%;
    }
  
    .sec-lg-col-52 {
      width: 52%;
    }
  
    .sec-lg-col-53 {
      width: 53%;
    }
  
    .sec-lg-col-54 {
      width: 54%;
    }
  
    .sec-lg-col-55 {
      width: 55%;
    }
  
    .sec-lg-col-57 {
      width: 57%;
    }
  
    .sec-lg-col-58 {
      width: 58%;
    }
  
    .sec-lg-col-59 {
      width: 59%;
    }
  
    .sec-lg-col-60 {
      width: 60%;
    }
  
    .sec-lg-col-61 {
      width: 61%;
    }
  
    .sec-lg-col-65 {
      width: 65%;
    }
  
    .sec-lg-col-66 {
      width: 66.66%;
    }
  
    .sec-lg-col-68 {
      width: 68%;
    }
  
    .sec-lg-col-70 {
      width: 70%;
    }
  
    .sec-lg-col-75 {
      width: 75%;
    }
  
    .sec-lg-col-80 {
      width: 80%;
    }
  
    .sec-lg-col-82 {
      width: 82%;
    }
  
    .sec-lg-col-85 {
      width: 85%;
    }
  
    .sec-lg-col-88 {
      width: 88%;
    }
  
    .sec-lg-col-100 {
      width: 100%;
    }
  
    .show-under-991,
    .show-991 {
      display: none !important;
    }
  }
  @media all and (min-width: 1025px) {
    .sec-xlg-col-20 {
      width: 20%;
    }
  
    .sec-xlg-col-22 {
      width: 22%;
    }
  
    .sec-xlg-col-24 {
      width: 24%;
    }
  
    .sec-xlg-col-25 {
      width: 25%;
    }
  
    .sec-xlg-col-26 {
      width: 26%;
    }
  
    .sec-xlg-col-30 {
      width: 30%;
    }
  
    .sec-xlg-col-31 {
      width: 31%;
    }
  
    .sec-xlg-col-32 {
      width: 32%;
    }
  
    .sec-xlg-col-33 {
      width: 33.33%;
    }
  
    .sec-xlg-col-33:nth-child(3n + 1) {
      clear: left;
    }
  
    .sec-xlg-col-33:nth-child(3n + 3) {
      clear: right;
    }
  
    .sec-xlg-col-35 {
      width: 35%;
    }
  
    .sec-xlg-col-36 {
      width: 36%;
    }
  
    .sec-xlg-col-37 {
      width: 37%;
    }
  
    .sec-xlg-col-38 {
      width: 38%;
    }
  
    .sec-xlg-col-40 {
      width: 40%;
    }
  
    .sec-xlg-col-42 {
      width: 42%;
    }
  
    .sec-xlg-col-43 {
      width: 43%;
    }
  
    .sec-xlg-col-45 {
      width: 45%;
    }
  
    .sec-xlg-col-48 {
      width: 48%;
    }
  
    .sec-xlg-col-50 {
      width: 50%;
    }
  
    .sec-xlg-col-52 {
      width: 52%;
    }
  
    .sec-xlg-col-55 {
      width: 55%;
    }
  
    .sec-xlg-col-57 {
      width: 57%;
    }
  
    .sec-xlg-col-58 {
      width: 58%;
    }
  
    .sec-xlg-col-60 {
      width: 60%;
    }
  
    .sec-xlg-col-65 {
      width: 65%;
    }
  
    .sec-xlg-col-66 {
      width: 66.66%;
    }
  
    .sec-xlg-col-70 {
      width: 70%;
    }
  
    .sec-xlg-col-75 {
      width: 75%;
    }
  
    .sec-xlg-col-80 {
      width: 80%;
    }
  
    .sec-xlg-col-100 {
      width: 100%;
    }
  
    .show-under-1024,
    .show-1024 {
      display: none !important;
    }
  }
  @media all and (min-width: 1101px) {
    .show-under-1100,
    .show-1100 {
      display: none !important;
    }
  }
  @media all and (min-width: 1201px) {
    .show-under-1200,
    .show-1200 {
      display: none !important;
    }
  }
  @media all and (min-width: 1367px) {
    .show-1366 {
      display: none !important;
    }
  }
  @media all and (min-width: 1601px) {
    .sec-xxlg-col-20 {
      width: 20%;
    }
  
    .sec-xxlg-col-22 {
      width: 22%;
    }
  
    .sec-xxlg-col-24 {
      width: 24%;
    }
  
    .sec-xxlg-col-25 {
      width: 25%;
    }
  
    .sec-xxlg-col-26 {
      width: 26%;
    }
  
    .sec-xxlg-col-27 {
      width: 27%;
    }
  
    .sec-xxlg-col-30 {
      width: 30%;
    }
  
    .sec-xxlg-col-31 {
      width: 31%;
    }
  
    .sec-xxlg-col-32 {
      width: 32%;
    }
  
    .sec-xxlg-col-33 {
      width: 33.33%;
    }
  
    .sec-xxlg-col-35 {
      width: 35%;
    }
  
    .sec-xxlg-col-36 {
      width: 36%;
    }
  
    .sec-xxlg-col-37 {
      width: 37%;
    }
  
    .sec-xxlg-col-38 {
      width: 38%;
    }
  
    .sec-xxlg-col-39 {
      width: 39%;
    }
  
    .sec-xxlg-col-40 {
      width: 40%;
    }
  
    .sec-xxlg-col-42 {
      width: 42%;
    }
  
    .sec-xxlg-col-43 {
      width: 43%;
    }
  
    .sec-xxlg-col-45 {
      width: 45%;
    }
  
    .sec-xxlg-col-48 {
      width: 48%;
    }
  
    .sec-xxlg-col-50 {
      width: 50%;
    }
  
    .sec-xxlg-col-52 {
      width: 52%;
    }
  
    .sec-xxlg-col-55 {
      width: 55%;
    }
  
    .sec-xxlg-col-57 {
      width: 57%;
    }
  
    .sec-xxlg-col-58 {
      width: 58%;
    }
  
    .sec-xxlg-col-60 {
      width: 60%;
    }
  
    .sec-xxlg-col-64 {
      width: 64%;
    }
  
    .sec-xxlg-col-65 {
      width: 65%;
    }
  
    .sec-xxlg-col-66 {
      width: 66.66%;
    }
  
    .sec-xxlg-col-70 {
      width: 70%;
    }
  
    .sec-xxlg-col-73 {
      width: 73%;
    }
  
    .sec-xxlg-col-75 {
      width: 75%;
    }
  
    .sec-xxlg-col-78 {
      width: 78%;
    }
  
    .sec-xxlg-col-80 {
      width: 80%;
    }
  
    .sec-xxlg-col-100 {
      width: 100%;
    }
  
    /*MARGIN*/
    .ml-xxlg-10 {
      margin-left: 10%;
    }
  
    .ml-xxlg-20 {
      margin-left: 20%;
    }
  
    .ml-xxlg-30 {
      margin-left: 30%;
    }
  
    .show-under-1600 {
      display: none !important;
    }
  }
  